<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "https://pixelforge.pro" Header set
  Access-Control-Allow-Headers "Authorization, Content-Type" Header set
  Access-Control-Allow-Methods "GET, POST, OPTIONS"
</IfModule>
